<form [formGroup]="loginForm" (ngSubmit)="login()">
  <input
    formControlName="userName"
    type="text"
    placeholder="login"
    autofocus
    [(ngModel)]="userName"
    name="userName"
  />
  <small *ngIf="loginForm?.get('userName')?.errors?.required">
    {{ textUserNameRequired }}
  </small>
  <input
    formControlName="password"
    type="password"
    placeholder="senha"
    autofocus
    [(ngModel)]="password"
    name="password"
  />
  <small *ngIf="loginForm?.get('password')?.errors?.required">
    {{ textPasswordRequired }}</small
  >
  <button [disabled]="loginForm.invalid" type="submit">Enviar</button>
</form>

<a href="http://localhost:4200/newUser">Novo usuario</a>
