<form [formGroup]="loginForm" (ngSubmit)="login()">
  <input
    formControlName="userName"
    type="text"
    placeholder="login"
    [(ngModel)]="userName"
    name="userName"
  />
  <small
    *ngIf="
      loginForm?.get('userName')?.errors?.required &&
      loginForm?.get('userName')?.touched
    "
  >
    É necessario preencher o usuario!
  </small>
  <input
    formControlName="password"
    type="password"
    placeholder="senha"
    [(ngModel)]="password"
    name="password"
  />
  <small *ngIf="loginForm?.get('password')?.errors?.required && loginForm?.get('password')?.touched">
    É necessario preencher a senha!</small
  >
  <button [disabled]="loginForm.invalid" type="submit">Enviar</button>
</form>

<a href="http://localhost:4200/newUser">Novo usuario</a>
